.editableText {
  cursor: pointer;
}

.input {
  padding: 2px 0;
  font-size: inherit;

  &:focus,
  &:checked {
    outline: none;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #b3b3b3;
  }
}
