@import "../../assets/styles/variables";

.mainBlock {
  display: flex;
  justify-content: center;
  gap: $distance-between-line;
}

.tasksList {
  margin-top: $task-th-block-height;
  padding-top: $task-block-spacing;
}

.title {
  text-align: center;
}
