@import "../../assets/styles/variables";

.mainBlock {
  max-width: $max-width-week-page-block;
  margin: $margin-top-week-page-block auto 0;
  display: flex;
  justify-content: center;
}

.tasksList {
  margin-top: $header-block-height;
  padding-top: $state-spacing-row;
}
