@import "../../assets/styles/variables";

$blocks-distance: 180px;
$paragraph-font-size: 18px;

.list {
  display: flex;
  flex-direction: column;
  row-gap: $state-spacing-row;
}

.taskItemBlock {
  height: $state-block-height;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    margin-right: $distance-between-line;
    width: $blocks-distance;
    height: 1px;
    background-color: #000;
  }
}

.paragraphItem {
  margin-bottom: 0 !important;
  font-size: $paragraph-font-size;
}

.addButton {
  margin-top: 10px;
  font-size: 25px;
}
