@import "../../assets/styles/variables";

.title {
  font-weight: 700;
  margin: 10px 0;
}

.small {
  font-size: $small-title-font-size;
}

.medium {
  font-size: $medium-title-font-size;
}

.large {
  font-size: $large-title-font-size;
}
