.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.weekTitle {
  input {
    cursor: pointer;
    font-weight: 700;
    font-size: 24px !important;
    text-align: center;
    width: 18ch !important;
  }
}

.arrowButton {
  &.disabledButton {
    cursor: default;
    svg {
      opacity: 0.5;
    }
  }
}
