@import "../../assets/styles/variables";

.table {
  display: flex;
  flex-direction: column;
  gap: $state-spacing-row  $state-spacing-column;
}

.headTable {
  height: $header-block-height;
  display: flex;
  column-gap: $state-spacing-column;

  .dayNameWrapper {
    width: $state-block-width;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.dateValue{
  font-size: 12px;
  color: #999999;
}
