* {
  box-sizing: border-box;
  font-family: inherit;
  margin: 0;
  padding: 0;
  border: none;
}

ol,
ul {
  list-style: none;
}

:root {
  margin: 2rem;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
