$task-block-height: 50px;
$task-block-width: 50px;

$task-block-border: 1px solid #000;

$task-block-spacing: 2px;

$task-th-block-height: 45px;

$small-title-font-size: 24px;
$medium-title-font-size: 32px;
$large-title-font-size: 42px;

$distance-between-line: 5px;
